{% extends 'base.html.twig' %}

{% block body %}
    <h1>Advertiser creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary btn-lg float-right" type="submit" value="Create">Create<button/>
    {{ form_end(form) }}

    <a href="{{ path('advertiser_index') }}">Back to the list</a>
    
{% endblock %}
