{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publisher creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary btn-lg float-right" type="submit" value="Create">Create<button/>
    {{ form_end(form) }}

    <a href="{{ path('publisher_index') }}">Back to the list</a>

{% endblock %}
